@import "variables";

$base-font: "Noto Serif", "PT Serif", source-han-serif-sc, "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC",
"Source Han Serif TW", "Source Han Serif", "Songti SC", SimSon, serif;
$code-font: 'Menlo', 'Courier New', 'Monaco', 'Spoqa Han Sans', monospace;

#body {
  font-family: $base-font;
}

code {
  padding: 0 0.2rem;
  margin: 0 0.2rem;
}

// Custom Scrollbar
::selection {
  background: #ced4da;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ced4da;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f8f9fa;
}

// Fixed toolbar class

.fixed-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10vh;
  right: 5vw;

  @include mobile {
    bottom: 5vh;
    right: 10vw;
  }
}

// Markdown classes

.default-markdown-h-color {
  color: map-get($default-theme-color, 'text-color');
}

.default-markdown-p-color {
  color: map-get($default-theme-color, 'text-color-light');
}

.default-markdown-a-color {
  color: map-get($default-theme-color, 'link-color')
}

.default-markdown-a-color:hover {
  color: map-get($default-theme-color, 'link-color-light')
}

.default-markdown-list-color {
  color: map-get($default-theme-color, 'text-color-light');
}

.default-markdown-table-color {
  th {
    color: map-get($default-theme-color, 'text-color-light');
    border-color: map-get($default-theme-color, 'text-color-light');;
  }

  tr, td {
    color: map-get($default-theme-color, 'text-color-light');
    border-color: map-get($default-theme-color, 'text-color-light');;
  }
}

.default-markdown-blockquote-color {
  abbr, address, article, aside, b, big, button, canvas, caption, center, cite, dd, div, dfn, dl, dt,
  em, form, h1, h2, h3, h4, h5, h6, i, ins, kbd, label, legend, li, link, mark, ol, p, pre, q,
  s, samp, section, small, span, strike, strong, sub,
  table, tbody, td, textarea, tfoot, th, thead, time, title, tr, tt, u, ul, var {
    color: map-get($default-theme-color, 'text-color-lighter');
  }
}

.default-markdown-strong-color {
  color: map-get($default-theme-color, 'text-color');
}

.markdown-h1 {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 2rem 0;

  @include mobile {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}

.markdown-h2 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 3.3rem;
  margin: 1.7rem 0;

  @include mobile {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
}

.markdown-h3 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 3.3rem;
  margin: 1.4rem 0;

  @include mobile {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.markdown-h4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.1rem;
  margin: 1.1rem 0;

  @include mobile {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}

.markdown-h5 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 0.8rem 0;

  @include mobile {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

.markdown-h6 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 0.5rem 0;

  @include mobile {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}

.markdown-anchor {
  font-size: 70%;
  transition: 0.25s;
  vertical-align: super;
}

.markdown-p {

}

.markdown-a {
  transition: 0.25s;
}

.markdown-ul {
  margin: 0.7rem 0;
  padding-inline-start: 40px;

  @include mobile {
    padding-inline-start: 15px;
  }
}

.markdown-ol {
  margin: 0.7rem 0;
  padding-inline-start: 40px;

  @include mobile {
    padding-inline-start: 15px;
  }
}

.markdown-li {
  margin: 0.3rem 0;
}

.markdown-hr {
  margin: 3rem 0 2.5rem;
}

.markdown-img {
  display: inline-block;
  max-width: 100%;
}

.markdown-table {
  width: 100%;
  margin: 1.5rem 0;
  text-align: center;
  vertical-align: middle;

  th {
    padding: 10px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
  }

  tr, td {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
  }
}

.markdown-blockquote {
  display: block;
  padding-left: 1.5rem;
  margin: 1rem 0;
  border-left: map-get($default-theme-color, 'base-color-dark') 5px solid;
}

.markdown-block-code {
  margin: 1.5rem 0;
  border-radius: 7px;
}

#toc-container .markdown-ul, .markdown-ol {
  margin: 0.7rem 0 0.7rem 0;
  padding-inline-start: 20px;
}

// Bootstrap style override

// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;

// Include Bootstrap and BootstrapVue SCSS files
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index';
