/*
@font-face {
    font-family: "shs-font";
    src: url("../font/SourceHanSerif-Regular.ttc");
}

@font-face {
    font-family: "shscn-font";
    src: url("../font/SourceHanSerifSC-Regular.otf");
}
*/

* {
    font-family: "Source Han Serif SC", "Source Han Serif CN", serif;
}
