// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;

// Color Sheet
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Custom Scrollbar
::-moz-selection {
  background: #ced4da;
}

::selection {
  background: #ced4da;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ced4da;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f8f9fa;
}

// Include Bootstrap and BootstrapVue SCSS files
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';
